.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  border-radius: 20px;
  background: rgb(53, 53, 53);
}
.btn-link {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 100px;
  background: rgb(30, 30, 30);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
}

.btn-link::before,
.btn-link::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  transition: 500ms;
}

.btn-link::before {
  left: 0;
  background: rgb(252, 0, 21);
}

.btn-link::after {
  right: 0;
  background: teal;
}

.btn-link:hover::after,
.btn-link:hover::before {
  width: 50%;
}

.btn-link span {
  position: absolute;
  font-size: 2.5rem;
  color: white;
  z-index: 1;
  transition: 500ms;
}

.btn-link span:nth-child(1) {
  transition-delay: 300ms;
}

.btn-link:hover span:nth-child(1) {
  transition-delay: 0s;
  transform: scale(0);
}

.btn-link span:nth-child(2) {
  transition-delay: 0s;
  transform: scale(6);
  opacity: 0;
}

.btn-link:hover span:nth-child(2) {
  transition-delay: 300ms;
  transform: scale(1);
  opacity: 1;
}
