.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  border-radius: 20px;
  background: rgb(53, 53, 53);
}
.box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  gap: 5px;
}
@media (min-width: 768px) {
  .box-icon {
    gap: 30px;
  }
}
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
ul li {
  position: relative;
  margin: 0 10px;
  cursor: pointer;
}
@media (min-width: 768px) {
  ul li {
    margin: 0 20px;
  }
}
ul li a .fa-brands {
  font-size: 96px;
  color: #000000;
}
ul li a::before {
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 96px;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.wrapper-two li:nth-child(1) a::before {
  content: "\f099";
  color: #1da1f2;
}
.wrapper-two li:nth-child(2) a::before {
  content: "\f099";
  color: #1da1f2;
  border-bottom: 4px solid #1da1f2;
}
.wrapper-one li:nth-child(1) a::before {
  content: "\f232";
  color: #25d366;
}
.wrapper-one li:nth-child(2) a::before {
  content: "\f232";
  color: #25d366;
  border-bottom: 4px solid #25d366;
}
ul li:hover a::before {
  height: 100%;
}
